
.container{
    background: black;
    color:aqua;
    padding: 10px;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 20px;
    color: gold;
}
p{
    font-size: 15px;
}

button{
    background:aqua;
    color: black;
    border: none;
    transition: 1s;
    margin-left: 5px;
}
 button:hover{
      background: black;
      color: aqua;
}